:root
{
    /* общие цвета */
    --background-color: #FFFFFF;
    --text-color: #000000;
    --inactive-text-color: rgba(0, 0, 0, 0.3);
    --invert-text-color: #FFFFFF;
    --secondary-text-color: #333333;

    --button-invert-color: #FFFFFF;
    --button-invert-disabled-color: #333333;
    
    --footer-background-color: rgba(255, 255, 255, 0.9);

    /*оттенки голубого*/
    --light-blue-color: #81B3D2;
    --medium-blue-color: #669EC0;
    --dark-blue-color: #5496BD;

    /*оттенки серого*/
    --light-gray-color: #EEEEEE;
    --dark-gray-color: #333333;
    --htmlacademy-gray-color: #BDBBBC;

    /*оттенки коричневого*/
    --brown-color: #766357;
    --medium-dark-brown-color: #604E43;
    --high-dark-brown-color: #503E33;

    /* эти цвета используются только на странице с отелями */
    --hotel-separator-line-color: #E5E5E5;
    --rate-text-color: #666666;
    --minor-background-color: #F2F2F2;
    --rate-hover-background-color: #EBEBEB;
    --disabled-gray-color: #6A6A6A;
    
    /* кнопки задания диапазона */
    --hotel-price-scale-color: rgba(255,255,255,0.3);
    --hotel-price-toggle-center-color: #ABABAB;
    --hotel-price-toggle-shadow-color: rgba(171,171,171,0.3);
}

/* общие свойства */

body {
    min-width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.index-page-body {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    background-color: var(--minor-background-color);
}

.page-body {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    background-color: var(--minor-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header,
.container,
.main-footer {
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* header */

.main-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 0;
    background-color: var(--background-color);
    padding: 0 113px;
}

/* навигация по сайту */

.site-navigation {
    display: flex;
    padding: 0 113px;
}

.site-navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.site-navigation-list li {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header {
    padding: 0;
    margin-top: 0;
    position: relative;
}

.main-header-logo {
    position: absolute;
    width: 138px;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.site-navigation-dummy {
    width: 60px;
}

.site-navigation-list,
.site-navigation-list a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.site-navigation-list li {
    display: flex;
}

.site-navigation-button-left {
    justify-content: flex-start;
}

.site-navigation-button-right {
    justify-content: flex-end;
}

.site-navigation-button-selected {
    color: var(--brown-color);
}

.site-navigation-button:hover {
    color: var(--light-blue-color);
}

.site-navigation-button:active {
    color: var(--light-gray-color);
}

.container {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* main page */

.main-photo-and-intro-section {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.main-photo {
    background: var(--background-color) url("../img/sedona-main-photo.jpg") no-repeat;
}

.img-text-main-photo {
    text-align: center;
    padding-top: 80px;
}

.shape-over-main-photo {
    padding-top: 15px;
}

.shape-over-main-photo img {
    width: 1200px;
}

.main-intro {
    padding-top: 42px;
    padding-bottom: 51px;
}

.city-description {
    padding-top: 21px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

/* sight and features */

.primary-sight-text-box {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-sight-text-box-photo {
    height: 256px;
}

.primary-sight-text-box-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.primary-sight-text-box-1-photo {
    grid-column-start: 2;
    grid-column-end: 4;
}

.primary-sight-photo {
    height: 256px;
    background-position: center center;
    background-size: cover;
    font-size: 0;
    line-height: 0;
}

.feature-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.feature-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.feature-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.primary-sight-text-box-2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.primary-sight-text-box-2-photo {
    grid-column-start: 1;
    grid-column-end: 3;
}

.secondary-sight-text-box-3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.secondary-sight-text-box-4 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.secondary-sight-text-box-5 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.hotel-search-section {
    grid-column-start: 1;
    grid-column-end: 4;
}

.sight-intro {
    color: var(--dark-gray-color);
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.primary-sight-text-box {
    background-color: var(--light-blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.primary-sight-header {
    color: var(--invert-text-color);
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.primary-sight-description {
    color: var(--invert-text-color);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.secondary-sight-text-box {
    background-color: var(--light-gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 256px;
}

.secondary-sight-header {
    color: var(--text-color);
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.secondary-sight-description {
    color: var(--dark-gray-color);
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.feature {
   display: flex;
   flex-direction: column;
   height: 330px;
   margin: auto;
   align-items: center;
}

.feature-icon-wrapper {
    height: 130px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
 }

.feature-header-wrapper {
    height: 70px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    padding-top: -4px;
}

.feature-description-wrapper {
    height: 130px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.feature-header-text {
    color: var(--text-color);
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.feature-description-text {
    color: var(--dark-gray-color);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.hotel-search-intro-box {
    padding-top: 30px;
    height: 188px;
    box-sizing: border-box;
    width: 100%;
}

.hotel-search-intro-header {
    color: var(--text-color);
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.hotel-search-intro-description {
    color: var(--text-color);
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.brown-button {
    color: var(--invert-text-color);
    background-color: var(--brown-color);
    border: none;
}

.brown-button:hover,
.hotel-search-header:hover {
    background-color: var(--medium-dark-brown-color);
}

.brown-button:active,
.hotel-search-header:active {
    background-color: var(--high-dark-brown-color);
}

.blue-button {
    color: var(--invert-text-color);
    background-color: var(--light-blue-color);
    border: none;
}

.blue-button:hover {
    background-color: var(--medium-blue-color);
}

.blue-button:active {
    background-color: var(--dark-blue-color);
}

/* modal hotel search */

.hotel-search-header-button-wrapper {
    width: 47.3%;
    margin: auto;
}

.hotel-search-header-button {
    color: var(--invert-text-color);
    background-color: var(--brown-color);
    border: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 30px 0;
    width: 100%;
}

.hotel-search-dialog-form-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.hotel-search-dialog-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    grid-template-columns: auto 1fr auto 1fr;
    text-transform: uppercase;
    background-color: var(--background-color);
    padding: 55px;
}

.hotel-search-dialog-label1-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-right: 16px;
    display: flex;
    align-items: center;
}

div.hotel-search-dialog-label1-wrapper:not(:first-of-type),
input.hotel-search-dialog-date-input:not(:first-of-type) {
    margin-top: 29px;
}

.children-count-label-wrapper {
    display: flex;
}

.hotel-search-dialog-label3-wrapper {
    padding-left: 33px;
    padding-right: 33px;
    align-self: center;
}

.hotel-search-dialog-date-input {
    grid-column-start: 2;
    grid-column-end: 5;
}

.hotel-search-dialog-input {
    padding: 6px 5px;
    background-color: var(--minor-background-color);
    border: none;
}

.hotel-search-dialog-count-input {
    padding: 8px 0;
    align-self: center;
/*    border: var(--minor-background-color) 2px solid; */
    border: none;
    width: 38px;
    box-sizing: border-box;
}

.hotel-search-dialog-input:hover:hover,
.hotel-search-dialog-count-input:hover {
    background-color: var(--rate-hover-background-color);
    /*border: var(--rate-hover-background-color) 2px solid;*/
    border: none;
}

.hotel-search-dialog-input:active:active,
.hotel-search-dialog-count-input:active {
    background-color: var(--background-color);
    border: none;
}

.adults-count-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 29px;
}

.children-count-label-wrapper {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 29px;
}

.children-count-wrapper {
    grid-column-start: 4;
    grid-column-end: 5;
    margin-top: 29px;
}

.hotel-search-dialog-count-wrapper {
    display: flex;
    align-items: center;
}

.hotel-search-dialog-count-wrapper,
.hotel-search-dialog-count-input {
    background: var(--minor-background-color);
}

.hotel-search-dialog-count-input {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

input.hotel-search-dialog-count-input {
    width: 36px;
    text-align: center;
}

input.hotel-search-dialog-count-input::-webkit-outer-spin-button,
input.hotel-search-dialog-count-input::-webkit-inner-spin-button
{
    -webkit-appearance: none;  /* Chrome */
    margin: 0;
}

input.hotel-search-dialog-count-input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.hotel-search-dialog-count-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 38px;
    height: 38px;
    background-color: var(--minor-background-color);
}

.hotel-search-dialog-count-button svg:hover {
    fill: var(--text-color);
}

.hotel-search-dialog-count-button svg:active {
    fill: var(--light-blue-color);
}

.hotel-search-dialog-count-button:active {
    border: none;
}

.hotel-search-dialog-form button[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 5;
}

/*скрываем стандартную иконку с датой (Chrome,Mozilla)*/
.hotel-search-dialog-date-input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    display: block;
    opacity: 1;
    background: none;
}

.hotel-search-dialog-date-input {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

 .hotel-search-dialog-date-input::after {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    top: auto;
    bottom: auto;
    width: 26px;
    height: 23px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.hotel-search-dialog-date-input:hover::after  {
    background: url("../img/calendar-hover.svg") no-repeat;
}

.hotel-search-dialog-date-input:active::after  {
    background: url("../img/calendar-active.svg") no-repeat;
}

.hotel-search-dialog-button {
    padding: 16px 181px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin-top: 54px;
    align-self: center;
}

/* hotel page */

/* параметры поиска отелей */

.hotel-filter-section {
    background: var(--dark-blue-color) url(../img/hotel-filter-background.jpg) no-repeat;
    padding: 0;
    background-size: cover;
}

.hotel-filter-form {
    padding: 26px 113px 8px 113px;
    display: flex;
}

.hotel-filters-features,
.hotel-filters-kind {
    width: 25%;
}

.hotel-filters-fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.hotel-filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.hotel-filter-legend {
    padding: 0;
    margin: 0;
    color: var(--invert-text-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: transparent;
}

.hotel-filter-checkbox {
    background-color: transparent;
    color: var(--button-invert-color);
    font-size: 14px;
    line-height: 21px;
    list-style: none;
    margin-top: 24px;
    padding: 0 24px 0 0;
}

.hotel-filter-input-checkbox:not(:checked):enabled + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkboxoff.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
 .hotel-filter-input-checkbox:checked:enabled + label::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkboxon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.hotel-filter-input-checkbox:not(:checked):disabled + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkboxoff-disabled.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.hotel-filter-input-checkbox:checked:disabled + label::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkboxon-disabled.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.hotel-filter-input-checkbox:disabled {
    color: var(--button-invert-disabled-color);
}

.hotel-filter-input,
.hotel-filter-input input {
    color: var(--invert-text-color);
    line-height: 21px;
    background-color: transparent;
}

.hotel-filters-price-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.hotel-filters-price-inline-wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-filter-price-column {
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
 }

.hotel-filter-price-input {
    border: none;
    background-color: transparent;
    color: var(--invert-text-color);
    text-align: center;
    width: 90%;
}

.hotel-filter-price-inputs-wrapper {
    border-radius: 2px;
    border: 2px solid var(--invert-text-color);
    border-spacing: 0;
    margin-top: 16px;
    width: 100%;
    position: relative;
}

.hotel-filter-price-inputs-wrapper tr::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10%;
    height: 80%;
    width: 2px;
    background: var(--invert-text-color);
}

.hotel-filter-price-label {
    background-color: transparent;
    color: var(--button-invert-color);
    text-transform: uppercase;
}

.hotel-price-range-controls {
    position: relative;
    margin-bottom: 15px;
    padding-top: 19px;
    background-color: transparent;
    border-radius: 5px;
}

.hotel-price-range-controls .scale {
    height: 2px;
    background:var(--hotel-price-scale-color);
}

.hotel-price-range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--invert-text-color);
}

.hotel-price-range-controls .toggle {
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 9px solid var(--invert-text-color);
    background-color: var(--hotel-price-toggle-center-color);
    border-radius: 50%;
    box-shadow: 0 2px 0 0 var(--hotel-price-toggle-shadow-color);
    cursor: pointer;
}

.hotel-price-range-controls .toggle:hover {
    transform: scale(1.1);
}

.hotel-filter-button-apply {
    color: var(--button-invert-color);
    background-color: transparent;
    border: 2px solid var(--button-invert-color);
    border-radius: 2px;
    align-self: center;
    margin-top: 13px;
    padding: 7px 35px;
    cursor: pointer;
}

.hotel-filter-button-apply:hover {
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 2px;
}

/* количество отелей */

.hotel-sort-section {
    padding: 0 113px;
}

.hotel-sort-box-wrapper {
    display: flex;
    align-items: center;
    margin: 29px 0;
}

.hotel-count-label,
.hotel-count-output {
    color: var(--text-color);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

/* опции сортировки */

.hotel-sort-legend {
    color: var(--text-color);
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.hotel-sort-section,
.hotel-sort-kind-list {
    display: inline-block;
}

.hotel-sort-kind-list {
    list-style-type: none;
}

.hotel-sort-kind-list li {
    list-style-type: none;
    display: inline;
    cursor: pointer;
}

.hotel-sort-order-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.hotel-sort-kind-wrapper {
    margin-left: 46px;
}

.hotel-sort-kind {
    font-size: 12px;
    line-height: 18px;
    color: var(--inactive-text-color);
    border-bottom: var(--light-blue-color) dotted 1px;
    margin-left: 32px;
    text-transform: uppercase;
}

.hotel-sort-kind-selected {
    color: var(--light-blue-color);
    border: none;
}

.hotel-sort-kind:hover {
    color: var(--light-blue-color);
}

.hotel-sort-kind:active {
    color: var(--text-color);
    border: none;
}

/* кнопки сортировки */

.hotel-sort-order-button {
    border: none;
    background-color: var(--background-color);
}

.hotel-sort-order-button-active svg {
    fill: var(--light-blue-color);
}

.hotel-sort-order-button:hover svg {
    fill: var(--text-color);
}

.hotel-sort-order-button:active svg {
    fill: var(--light-blue-color);
}

/* предложения с отелями */

.hotel-offers {
    border-top: var(--hotel-separator-line-color) solid 1px;
}

.hotel-offers ol,
.hotel-offers li {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.hotel-offers ol {
    display: flex;
    flex-direction: column;
}

.hotel-offers li {
    list-style: none;
    display: flex;
}

li.hotel-offer {
    display: flex;
    padding: 22px 113px;
    border-bottom: var(--hotel-separator-line-color) solid 1px;
}

.hotel-preview-photo {
    width: 175px;
    height: 90px;
    margin: 0;
    align-self: flex-end;
}

.hotel-preview-photo img {
    font-size: 0;
    line-height: 0;
}

.hotel-description {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
    display: flex;
    flex-direction: column;
}

.hotel-name {
    color: var(--text-color);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.hotel-details-and-price {
    display: flex;
}

.hotel-details-column {
    display: flex;
    flex-direction: column;
}

.hotel-kind,
.hotel-price {
    color: var(--gray-text-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    margin: 11px 0;
}

.hotel-price,
.hotel-booking-button {
    margin-left: 6px;
}

.hotel-details-button,
.hotel-booking-button {
    border: none;
    padding: 3px 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}

.hotel-rate {
    justify-self: flex-end;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hotel-rate-stars {
    color: var(--light-blue-color);
}

.hotel-rate-text {
    color: var(--rate-text-color);
    background: var(--minor-background-color);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 3px 12px;
}

.map-area {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3 / 4;
    height: 474px;
    width: 1200px;
}

/* footer */

.main-footer {
    grid-row: 4 / 5;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--footer-background-color);
    height: 120px;
}

.footer-wrapper {
    display: flex;
    padding: 0 113px;
    align-items: center;
}

.contacts {
    width: 33%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

.contacts,
.contacts a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.contacts p {
    margin: 5px 0;
}

.social-network-links {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px;
}

.social-network-icon-box {
    width: 46px;
    height: 48px;
    background-color: var(--light-blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.social-network-icon-box:hover {
    background-color: var(--medium-blue-color);
}

.social-network-icon-box:active {
    background-color: var(--dark-blue-color);
}

a.social-button {
    line-height: 0px;
}

.twitter-button {
    width:17px;
    height:15px;
}

.htmlacademy {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.htmlacademy img {
    vertical-align: middle;
}

.htmlacademy-text {
    color: var(--text-color);
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    padding-right: 5px;
}

.htmlacademy svg:hover {
    fill: var(--light-blue-color);
}

.htmlacademy svg:active {
    fill: var(--htmlacademy-gray-color);
}
