:root
{
    /* общие цвета */
    --background-color: #FFFFFF;
    --text-color: #000000;
    --invert-text-color: #FFFFFF;
    --white-color: #FFFFFF;
    --gray-text-color: #333333;

    /*оттенки голубого*/
    --light-blue-color: #81B3D2;
    --medium-blue-color: #669EC0;
    --dark-blue-color: #5496BD;

    /*оттенки серого*/
    --light-gray-color: #EEEEEE;
    --dark-gray-color: #333333;
    --htmlacademy-gray-color: #BDBBBC;

    /*оттенки коричневого*/
    --brown-color: #766357;
    --medium-dark-brown-color: #604E43;
    --high-dark-brown-color: #503E33;

    /* эти цвета используются только на странице с отелями */
    --hotel-separator-line-color: #E5E5E5;
    --rate-text-color: #666666;
    --rate-background-color: #F2F2F2;
    --disabled-gray-color: #6A6A6A;
}

/* общие свойства */

body {
    min-width: 1200px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* header */

.main-header {
    background-color: var(--background-color);
}

/* навишация по сайту */

.site-navigation li {
    list-style-type: none;
}

.site-navigation a {
    color: var(--text-color);
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.site-navigation-button-selected {
    color: var(--brown-color);
}

.site-navigation-button:hover {
    color: var(--light-blue-color);
}

.site-navigation-button:active {
    color: var(--light-gray-color);
}

.container {
    background-color: var(--background-color);
}

.invisible-header {
    display: none;
}

/* main page */

.main-photo {
    text-align: center;
}

.city-description {
    color: var(--text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.sight-intro {
    color: var(--dark-gray-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.primary-sight-text-box {
    background-color: var(--light-blue-color);
}

.primary-sight-header {
    color: var(--invert-text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.primary-sight-description {
    color: var(--invert-text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.feature-header {
    color: var(--text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.feature-description {
    color: var(--dark-gray-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.secondary-sight-text-box {
    background-color: var(--light-gray-color);
}

.secondary-sight-header {
    color: var(--text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.secondary-sight-description {
    color: var(--dark-gray-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.hotel-search-intro-header {
    color: var(--text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.hotel-search-intro-description {
    color: var(--text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.hotel-search-header {
    color: var(--invert-text-color);
    background-color: var(--brown-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.hotel-search-header-button
{
    border: none;
}

.brown-button
{
    color: var(--invert-text-color);
    background-color: var(--brown-color);
}

.brown-button:hover,
.hotel-search-header:hover {
    background-color: var(--medium-dark-brown-color);
}

.brown-button:active,
.hotel-search-header:active {
    background-color: var(--high-dark-brown-color);
}

.blue-button {
    color: var(--invert-text-color);
    background-color: var(--light-blue-color);
}

.blue-button:hover {
    background-color: var(--medium-blue-color);
}

.blue-button:active {
    background-color: var(--dark-blue-color);
}

/* hotel page */

/* параметры поиска отелей */

.hotel-filter-box {
    width: 1200px;
    background-color: var(--light-blue-color);
}

.hotel-filter-legend {
    color: var(--invert-text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background: transparent;
}

.hotel-filter-checkbox {
    color: var(--white-color);
    background: transparent;
}

.hotel-filter-checkbox:disabled
{
    color: var(--disabled-gray-color);
}

.hotel-filter-input {
    color: var(--invert-text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    background: transparent;
}

.hotel-filter-range {
    color: var(--white-color);
}

.hotel-filter-button {
    color: var(--white-color);
    background: transparent;
    border: 2px solid --var(--white-color);
}

.hotel-filter-button:hover
{
    color: var(--text-color);
    background-color: var(--background-color);
}

/* количество отелей */

.hotel-count {
    color: var(--text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.hotel-sort-legend {
    color: var(--text-color);
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

/* опции сортировки */

.hotel-sort-kind {
    color: var(--text-color);
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.3;
    border-bottom: var(--light-blue-color) dotted 1px;
}

.hotel-sort-kind-selected {
    color: var(--light-blue-color);
    border: none;
}

.hotel-sort-kind:hover {
    color: var(--light-blue-color);
}

.hotel-sort-kind:active {
    color: var(--light-gray-color);
    border: none;
}

/* кнопки сортировки */

.hotel-sort-order-button {
    color: var(--light-gray-color);
}

.hotel-sort-order-button-active {
    color: var(--light-blue-color);
}

.hotel-sort-order-button {
    color: var(--light-gray-color);
}

/* предложения с отелями */

table.hotel-offers {
    border-collapse: collapse;
}

.hotel-offer td {
    border-color: var(--hotel-separator-line-color);
    border-style: solid;
    border-top: 1;
    border-bottom: 1;
    border-left: 0;
    border-right: 0;
}

.hotel-name {
    color: var(--text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.hotel-kind,
.hotel-price {
    color: var(--gray-text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.hotel-rate-stars {
    color: var(--light-blue-color);
}

.hotel-rate {
    color: var(--rate-text-color);
    background: var(--rate-background-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

/* footer */

.contacts,
.contacts a {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.social-network-links li {
    list-style-type: none;
}

.social-network-links img {
    background-color: var(--light-blue-color);
}

.htmlacademy {
    color: var(--text-color);
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.htmlacademy:hover {
    background-color: var(--light-blue-color);
}

.htmlacademy:active {
    background-color: var(--htmlacademy-gray-color);
}
