/* checkbox-off */

position: absolute;
width: 23px;
height: 23px;
left: 0px;
top: 0px;



/* Shape */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Path */

position: absolute;
left: 8.7%;
right: 8.7%;
top: 8.7%;
bottom: 8.7%;

background: #FFFFFF;


/* Path */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
