/* checkbox-on */

position: absolute;
width: 26.17px;
height: 23px;
left: 0px;
top: 0px;



/* Shape */

position: absolute;
left: 16.5%;
right: 3.07%;
top: 5.81%;
bottom: 21.31%;

background: #FFFFFF;


/* Shape */

position: absolute;
left: 0%;
right: 14.81%;
top: 0%;
bottom: 0%;

background: #FFFFFF;